{% extends 'twitter/twitter/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send</button>
            </div>
        </form>
    </div>
     <div class="content-section">
        <p> Messages : </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Data </th>
                    <th scope="col"> Author </th>
                    <th scope="col"> Subject </th>
                    <th scope="col"> Message </th>
                </tr>
            </thead>
            {% for message in messages %}
                <tr>
                    <td>{{ message.date_sent |date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ message.from_user.author }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.content }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}